<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <property name="hibernate.connection.username"> root</property>
        <property name="hibernate.connection.password"> root </property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost/hibernate </property>
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto"> update </property>
        <property name="show_sql"> true </property>
        <property name="format_sql"> true </property>
        <property name="hibernate.connection.autocommit"> false </property>
        
        <mapping class="modelo.Pessoa.Dependente"/>      
        <mapping class="modelo.Pessoa.Email"/>      
        <mapping class="modelo.Pessoa.Endereco"/>      
        <mapping class="modelo.Pessoa.Municipio"/>      
        <mapping class="modelo.Pessoa.Pessoa"/>      
        <mapping class="modelo.Pessoa.Professor"/>      
        <mapping class="modelo.Pessoa.RG"/>      
        <mapping class="modelo.Pessoa.Servidor"/>      
        <mapping class="modelo.Pessoa.Telefone"/>  
        
        <mapping class="modelo.curricular.Disciplina"/>  
        <mapping class="modelo.curricular.Turma"/>  
        <mapping class="modelo.curricular.Curso"/>  
     
        
        <mapping class="modelo.Afastamento"/>  
        <mapping class="modelo.Suprimento"/>  
        <mapping class="modelo.Cancelamento"/>  
        <mapping class="modelo.Substituicao"/>  
        
            
          
        <!-- mapeamento das classes -->
    </session-factory>
</hibernate-configuration>